.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    background: rgba(0, 0, 0, 0.55);
    padding-top: 124px;
}

.popup {
    position: relative;
    width: 100%;
    max-width: 665px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 36px;
    background: var(--primary-color);
    border-radius: 24px;
}

.popup__cross {
    position: absolute;
    right: 36px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: .1s;
}

.popup__cross:hover {
    transform: scale(1.2);
}

.popup__stats__heading {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: var(--light-grey);
    text-decoration: none;
}

.popup__stats__heading:hover {
    text-decoration: underline;
}

.popup__link {
    font-size: 16px;
    color: var(--dark-grey);
    word-wrap: break-word;
    margin-top: 4px;
}

.popup__link:first-of-type {
    margin-top: 12px;
}

.popup__stats__modified-time {
    display: flex;
    align-items: center;
    margin-top: 12px;
    font-weight: normal;
    font-size: 12px;
    color: var(--dark-grey);
}

.popup__stats__modified-time img {
    margin-right: 4px;
}

.popup__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    gap: 12px;
}

.popup__links__column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.popup__links__title {
    font-weight: normal;
    font-size: 18px;
    color: var(--accent-color);
}